# Decision Tree classifier

## 1. Import all usefull libraries

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

## 2. Import data

In [3]:
df = pd.read_csv('D:\Akash\Machine Learning\Data_for_ML\Book6.csv')
df.head()

  company                  job     degree  salary > 100k
0  google      sales executive  bachelors              0
1  google      sales executive    masters              0
2  google     business manager  bachelors              1
3  google     business manager    masters              1
4  google  computer programmer  bachelors              0

## 3. processing the datasets

In [4]:
input = df.drop('salary > 100k' ,axis='columns') # it cut this column from our datasets
target = df['salary > 100k']                        # now only word data is left

In [5]:
input.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

## computer can't understand words hence we have to encode all word data into a numeric code

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [8]:
input['company_code'] = le_company.fit_transform(input['company'])
input['job_code'] = le_job.fit_transform(input['job'])
input['degree_code'] = le_degree.fit_transform(input['degree'])

In [9]:
input.head()

  company                  job     degree  company_code  job_code  degree_code
0  google      sales executive  bachelors             2         2            0
1  google      sales executive    masters             2         2            1
2  google     business manager  bachelors             2         0            0
3  google     business manager    masters             2         0            1
4  google  computer programmer  bachelors             2         1            0

## Drop all word data

In [10]:
input_n = input.drop(['company','job','degree'],axis='columns')
input_n

    company_code  job_code  degree_code
0              2         2            0
1              2         2            1
2              2         0            0
3              2         0            1
4              2         1            0
5              2         1            1
6              0         2            1
7              0         1            0
8              0         0            0
9              0         0            1
10             1         2            0
11             1         2            1
12             1         0            0
13             1         0            1
14             1         1            0
15             1         1            1

## 4. Import our model anf fit the data in it

In [11]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [12]:
model.fit(input_n , target)

DecisionTreeClassifier()

## 6. Find the accuracy of our model

In [20]:
model.predict([[1,2,1]])

array([1], dtype=int64)