# Liner regression for Multiple variable

## 1. Import all libraries

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import linear_model

## 2. Import Data

In [2]:
df = pd.read_csv('D:\Akash\Machine Learning\Data_for_ML\Book3.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

## 3. Deal with null space

In [3]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [5]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

## 4. Fitting data in our model

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [8]:
reg.coef_ , reg.intercept_

(array([   137.25, -26025.  ,  -6825.  ]), 383724.99999999994)

In [9]:
reg.predict([[3000,3,40]])

array([444400.])